.register-container {
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
}

.name-row {
  display: flex;
  gap: 1rem;
}

.name-row .form-group {
  flex: 1;
}

mat-dialog-content {
  margin-top: 10px;
  animation: fadeIn 1s ease;
}

/* Animazione di fade-in */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-30px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Titoli */
h2 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
  color: black;
}

/* Etichette dei form */
.form-label {
  font-weight: 600;
  font-size: 14px;
}

/* Campi di input */
.form-control {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.form-control:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-color: black;
}

/* Pulsante principale (Login/Registrati) */
.btn-primary {
  background: linear-gradient(90deg, #222020, #8f8c8c);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background: linear-gradient(90deg, #000000, #000000);
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.text-center button {
  background: linear-gradient(90deg, #4caf50, #81c784); /* Colore gradiente verde */
  border: none;
  color: white; /* Testo bianco */
  font-weight: 600;
  font-size: 14px;
  padding: 10px 20px; /* Spaziatura interna */
  border-radius: 8px; /* Angoli arrotondati */
  cursor: pointer;
  transition: all 0.3s ease; /* Transizione per hover */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Leggera ombra */
}

.text-center button:hover {
  background: linear-gradient(90deg, #388e3c, #66bb6a); /* Gradiente scuro al passaggio del mouse */
  transform: translateY(-3px); /* Sollevamento del bottone */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Ombra più intensa */
}

.text-center button:active {
  transform: translateY(0); /* Torna alla posizione originale */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); /* Ombra ridotta */
}


